<%= render "shared/header" %>
<div class="content-wrap">

  <div id="blogpost" class="inner-content">

    <section id="page-title" class="inner-section" data-animation-origin="right" data-animation-duration="500" data-animation-delay="300" data-animation-distance="25px">
      <div class="container-fluid nopadding">
        <h2 class="font-accident-two-normal uppercase"><%= @assignment.title %></h2>
        <div class="post-meta">
          <span>by
            <a href="#!">교육팀</a>,</span>
          <span><%= @assignment.created_at %></span></div>
        <!-- <div class="post-tag pull-left">
          <span>
            <a>Branding</a>,</span>
          <span>
            <a>Design</a></span></div>
      </div> -->
    </section>

    <!-- Blog Block -->
    <section class="inner-section">

      <div class="container-fluid nopadding">

        <img src="<%= asset_path 'header.png'%>" class="img-responsive">

        <article class="post">

          <div class="dividewhite6"></div>
            <p><%= @assignment.content %></p>

          <div class="dividewhite4"></div>
          <hr>

        </article>

      </div>
      <div class="container-fluid nopadding">
        <% if user_signed_in? %>
          <% if @flag == 0 %>
            <h4 class="font-accident-two-normal uppercase">과제 제출</h4>
            <%= form_for(@submission, url: submission_assignment_path) do |f| %>
              <div class="row">
                <div class="col-md-6">
                  <p>
                    <label for="">이미지</label>
                    <%= f.file_field :image %>
                  </p>
                </div>
                <div class="col-md-6">
                  <p>
                    <label for="">url</label>
                    <%= f.text_field :url %>
                  </p>
                </div>
              </div>
              <div class="dividewhite2"></div>
              <p><%= f.submit "과제 제출", class: "btn btn-lg btn-darker" %></p>
            <% end %>
          <% elsif @flag == 1 %>
          
              <h4 class="font-accident-two-normal uppercase">나의 과제</h4>
              <% if @submission.image.exists? %>
                <%= image_tag @submission.image.url %>
              <% else %>
                비어있음
              <% end %>
              <article class="post">
                <div class="dividewhite6"></div>
                <div class="btn-group" role="group"> 
                  <% unless @submission.url.nil? %>
                    <a href="<%=@submission.url %>" class="btn btn-primary pull-left" target="_blank">url</a>
                  <% end %>
                  <%= link_to "삭제", destroy_submission_assignment_path, class: "btn btn-danger pull-left" %>
                  <a href="<%=@submission.url %>" class="btn btn-warning pull-left">수정</a>
                </div>
                 
                <div class="dividewhite4"></div>
                <hr>
              </article>
          <% end %>
          
        <% else %>
          <div class="row">
            <div class="col-md-12">
              <a href="<%= new_user_session_path%>" class="btn btn-lg btn-default pull-right">로그인 하세요</a>
            </div>
          </div>
        <% end %>
        <!-- <a href="" class="btn btn-lg btn-default pull-left">뒤로 가기</a>
        <a href="" class="btn btn-lg btn-default pull-right">과제 제출</a> -->
      </div>
    </section>
    <!-- /Blog Block -->

  </div>

</div>
