<%= render "shared/header" %>
<div class="content-wrap">
    <div id="blog" class="inner-content">
        <section class="inner-section " data-section="blog">
          <div class="row masonry-row">
            <div class="container-fluid text-center">
              <div id="posts" class="row popup-container">
                <% @users.each do |user| %>
                  <div class=" col-md-4 col-sm-6">
                    <div class="item-wrap curri">
                      <!-- <div class="check red">hot!</div> -->
                      <figure >
                        <figcaption class="text-center">
                          <div class="post-header">
                            <h3 class="text-black">
                              <%= user.name %>
                            </h3>
                          </div>
                          <% submission = user.submissions.find_by(assignment: @assignment) %>
                          <% if submission.nil? %>
                              <img src="<%= asset_path 'no_assignment.png'%>" class="img-responsive curri-img" alt="img11" />
                              <div class="post-entry">
                                <p><%#= submission.content %></p>
                              </div>
                              <!--<div class="post-meta">-->
                              <!--  <span>by-->
                              <!--    <a href="#!">교육팀</a>,</span>-->
                              <!--  <span>언젠가는 내겠지요.</span></div>-->
                          <% else %>
                              <% if submission.image.nil? %>
                                <img src="<%= asset_path 'dgulion.png' %>" class="img-responsive" alt="img11" />
                              <% else %>
                                <img src="<%= submission.image.url %>" class="img-responsive" alt="img11" />
                              <% end %>
                              
                              <div class="post-entry">
                                <p><%= submission.content %></p>
                              </div>
                              <div class="post-meta">
                                <span><%= submission.created_at%></span></div>
                              <div class="dividewhite2"></div>
                              <div class="btn-group" role="group"> 
                                <a href="<%= submission.url%>" class="btn btn-primary pull-left" target="_blank">url</a>
                                <%= link_to "보러가기", submission_path(submission), class: "btn btn-danger pull-left" %>
                                <% if user_signed_in? && current_user.has_role?(:admin) %>
                                  <a href="<%= admin_submission_path(submission) %>" target="_blank" class="btn btn-warning pull-left">어드민</a>
                                <% end %>
                              </div>
                              <div class="dividewhite1"></div>
                          <% end %>
                          
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                <% end %>
    
              </div>
    
            </div>
          </div>
    
        </div>
      </section>

    </div>
</div>
<%= render "shared/footer" %>