<%= render 'shared/header' %>

<!-- Container -->
<div class="content-wrap">

  <div class="container-fluid nopadding">

    <section id="counts" class="padding-60 dark ui-menu-color01" data-section="counter" data-animation-origin="right" data-animation-duration="400" data-animation-delay="100" data-animation-distance="100px">
      <div class="count-container row">
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="500" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-photo246"></i>
            </div>
            <span class=".integers digit font-accident-two-normal33" data-counter="3">3</span>

            <div class="count-text font-accident-two-bold">년간</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="700" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-book-bag2"></i>
            </div>
            <span class=".integers digit font-accident-two-normal3" data-counter="75">75</span>

            <div class="count-text font-accident-two-bold">명의 사자가</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="900" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-stats48"></i>
            </div>
            <span class=".integers digit font-accident-two-normal3" data-counter="7">7</span>

            <div class="count-text font-accident-two-bold">번의 해커톤을 통해</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 count">
          <div data-animation-origin="top" data-animation-duration="400" data-animation-delay="1100" data-animation-distance="50px">
            <div class="count-icon">
              <i class="flaticon-shopping-carts6"></i>
            </div>
            <span class=".integers digit font-accident-two-normal3" data-counter="31">31</span>

            <div class="count-text font-accident-two-bold">개의 서비스를 만들었습니다.</div>
          </div>
        </div>
      </div>
      <div class="dividewhite2"></div>
    </section>

    <section class="works" data-section="portfolio">
      <div class="row row-no-padding">
        <div class="grid text-center">
          <div id="posts" class="row popup-container">
            <div class="grid-item web marketing col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color01" data-animation-origin="left" data-animation-duration="400" data-animation-delay="600" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="<%= asset_path 'users-2.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path 'users-2.svg'%>" class="img-responsive" alt="img11"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>노종원</h3>
                      <p>#대표 #교육팀 #고인물1
                      </p>
                    </div>
                    <!-- <a href="portfolio-item-01.html"></a> -->
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item uncategorized col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="left" data-animation-duration="400" data-animation-delay="400" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="<%= asset_path 'users-1.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path 'users-1.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>김은식</h3>
                      <p>#부대표 #고인물2</p>
                    </div>
                    <!-- <a href="portfolio-item-01.html"></a> -->
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color03" data-animation-origin="right" data-animation-duration="400" data-animation-delay="400" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="<%= asset_path'users-3.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path'users-3.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>김다은</h3>
                      <p>#홍보팀장 #뿌</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color02" data-animation-origin="right" data-animation-duration="400" data-animation-delay="600" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="<%= asset_path'users-8.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path'users-8.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>안민준</h3>
                      <p>#기획팀장 #막내</p>
                    </div>
                    <!-- <a href="portfolio-item-01.html"></a> -->
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item uncategorized col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color05" data-animation-origin="left" data-animation-duration="400" data-animation-delay="800" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="<%= asset_path'users-9.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path'users-9.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>김성준</h3>
                      <p>#교육팀 #올라</p>
                    </div>
                    <!-- <a href="portfolio-item-01.html"></a> -->
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item web col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color03" data-animation-origin="left" data-animation-duration="400" data-animation-delay="600" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="<%= asset_path'users-7.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path'users-7.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>박희융</h3>
                      <p>#교육팀 #박힁힁이</p>
                    </div>
                    <!-- <a href="portfolio-item-01.html"></a> -->
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item marketing seo col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color06" data-animation-origin="right" data-animation-duration="400" data-animation-delay="600" data-animation-distance="50px">
                  <div class="popup-call">
                    <a href="<%= asset_path'users-10.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path'users-10.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>이광빈</h3>
                      <p>#갓총무 #하면함</p>
                    </div>
                    <!--<a href="portfolio-item-01.html"></a>-->
                  </figcaption>
                </figure>
              </div>
            </div>
            <div class="grid-item grid-sizer web seo col-lg-3 col-md-4 col-sm-6">
              <div class="item-wrap nopadding">
                <figure class="effect-goliath ui-menu-color04" data-animation-origin="right" data-animation-duration="400" data-animation-delay="800" data-animation-distance="100px">
                  <div class="popup-call">
                    <a href="<%= asset_path'users-16.svg'%>" class="gallery-item">
                      <i class="flaticon-arrows-4"></i>
                    </a>
                  </div>
                  <img src="<%= asset_path'users-16.svg'%>" class="img-responsive" alt="img03"/>
                  <figcaption>
                    <div class="fig-description">
                      <h3>서정연</h3>
                      <p>#하소봉회장님 #일러스트</p>
                    </div>
                    <!--<a href="portfolio-item-01.html"></a>-->
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="owl-carousel" data-section="owl-carousel" data-animation-origin="bottom" data-animation-duration="500" data-animation-delay="400" data-animation-distance="100px">
      <div class="owl-carousel owl-theme">

        <div class="item">
          <div class="feat-post text-center">
            <div class="feat-wrapper">
              <div class="feat-metas">
                <a href="#!" class="meta-date">18.03.14</a>in
                <a href="#!" class="meta-cat">동국대</a>
                <h3 class="font-accident-two-normal3 text-nowrap color-red">오리엔테이션</h3>
                <hr>
                <p>#동대 #멋사 #시작!!</p>
                <div class="morelink">
                  <a href="#!" class="red">read more</a>
                </div>
              </div>
            </div>
          </div>
          <img src="<%=asset_path 'main_1.jpg'%>" class="img-responsive" alt="01">
        </div>

        <div class="item">
          <div class="feat-post text-center">
            <div class="feat-wrapper">
              <div class="feat-metas">
                <a href="#!" class="meta-date">18.03.17</a>in
                <a href="#!" class="meta-cat">서울시립대</a>
                <h3 class="font-accident-two-normal3 text-nowrap color-cyan">전체 오리엔테이션</h3>
                <hr>
                <p>#서울시립대 #이두희 #엠티가자</p>
                <div class="morelink">
                  <a href="#!" class="cyan">read more</a>
                </div>
              </div>
            </div>
          </div>
          <img src="<%=asset_path 'main_2.jpg'%>" class="img-responsive" alt="01">
        </div>

        <div class="item">
          <div class="feat-post text-center">
            <div class="feat-wrapper">
              <div class="feat-metas">
                <a href="#!" class="meta-date">18.03.18</a>in
                <a href="#!" class="meta-cat">대성리</a>
                <h3 class="font-accident-two-normal3 text-nowrap color-blue">6기 MT</h3>
                <hr>
                <p>#꿀잼 #대성리 #엠티</p>
                <div class="morelink">
                  <a href="#!" class="blue">read more</a>
                </div>
              </div>
            </div>
          </div>
          <img src="<%=asset_path 'main_3.jpg'%>" class="img-responsive" alt="01">
        </div>

      </div>
      <div class="e-divider-6"></div>
    </section>
    <!-- TODO : 언젠가는 살리자 -->
    <!-- <section
      id="details"
      class="padding-50 inner dark ui-block-color04"
      data-section="home"
      data-animation-origin="left"
               data-animation-duration=""
      400"
               data-animation-delay="
      200"
               data-animation-distance="
      100px"="100px"">
      <div class="row">
        <div class="col-md-12 text-center nopadding">
          <div class="dividewhite2"></div>
          <h3 class="font-accident-two-normal3 uppercase">Gridus Resume HTML Template</h3>
          <div class="dividewhite6"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="600" data-animation-delay="600" data-animation-distance="100px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-photo246"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Clean & Flat</h5>
              <p class="small">
                Gridus Personal Template is the simple, clean and stylish fully-responsive resume / curriculum vitae WordPress theme
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
        <div class="col-md-3 infoblock text-center" data-animation-origin="left" data-animation-duration="500" data-animation-delay="400" data-animation-distance="50px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-pie-graph"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Optimized</h5>
              <p class="small">
                It is perfect as a vCard, creative Portfolio or personal CV and resume website for artists, designers and job-seekers.
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
        <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="500" data-animation-delay="400" data-animation-distance="50px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-clocks18"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Customizable</h5>
              <p class="small">
                The Ready-to-use pre-defined color css classes make possible to Customize your websire in a wide range.
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
        <div class="col-md-3 infoblock text-center" data-animation-origin="right" data-animation-duration="600" data-animation-delay="600" data-animation-distance="100px">
          <div class="row">
            <div class="col-md-12">
              <i class="flaticon-stats47"></i>
            </div>
            <div class="col-md-12">
              <div class="dividewhite1"></div>
              <h5 class="font-accident-two-bold uppercase">Multi-purpose</h5>
              <p class="small">
                Made for professionals, people who want to show their creative way to success. Share your experience with Gridus.
              </p>
            </div>
          </div>
          <div class="dividewhite2"></div>
        </div>
      </div>
    </section> -->

    <!-- TODO: 이어서 개발하기 -->
    <!-- <section id="" class="" data-section="home">
      <div class="row flex-row row-no-padding">
        <div id="pro-experience" class="col-md-6 flex-column dark ui-block-color02" data-animation-origin="left" data-animation-duration="500" data-animation-delay="500" data-animation-distance="100px">
          <div class="padding-50 flex-panel">
            <h3 class="font-accident-two-normal3 uppercase">Professional Experience</h3>
            <div class="dividewhite4"></div>
            <div class="experience">
              <ul class="">
                <li class="date">02/2008 - 04/2010</li>
                <li class="company uppercase">
                  <a>
                    ABC Brodcast Inc. New York.
                  </a>
                </li>
                <li class="position">Junior Designer</li>
              </ul>
              <ul class="">
                <li class="date">04/2010 - 06/2012</li>
                <li class="company uppercase">
                  <a>
                    Leo Burnett London Office
                  </a>
                </li>
                <li class="position">Senior Designer</li>
              </ul>
              <ul class="">
                <li class="date">06/2012 - present</li>
                <li class="company uppercase">
                  <a>
                    Google Inc. Dublin.
                  </a>
                </li>
                <li class="position">UI/UX Designer</li>
              </ul>
            </div>
            <a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>
            <div class="dividewhite1"></div>
          </div>
        </div>
        <div id="personal" class="col-md-6 flex-column light ui-block-color01 personal" data-animation-origin="right" data-animation-duration="500" data-animation-delay="600" data-animation-distance="100px">
          <div class="padding-50 flex-panel">
            <h3 class="font-accident-two-normal3 uppercase">Personal Information</h3>
            <div class="dividewhite4"></div>
            <div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Name:</p>
                </div>
                <div class="two">
                  <p class="">Helena Anderson</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase text-nowrap">Date of Birth:</p>
                </div>
                <div class="two">
                  <p class="">03/12/1980</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Address:</p>
                </div>
                <div class="two">
                  <p class="">1234, Direct drive, Daytona Beach, Fl, USA</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Phone:</p>
                </div>
                <div class="two">
                  <p class="">1 234 567 89 10</p>
                </div>
              </div>
              <div class="fullwidth box">
                <div class="one">
                  <p class="uppercase">Email:</p>
                </div>
                <div class="two">
                  <p class="">james@anderson.com</p>
                </div>
              </div>
            </div>
            <div class="dividewhite1"></div>
          </div>
        </div>
      </div>
    </section> -->
  </div>
</div>
<%= render "shared/footer" %>
