<%= render 'shared/header' %>
<div class="content-wrap">

  <div id="blog" class="inner-content">

    <section id="page-title" class="inner-section ui-menu-color02">
      <div class="container-fluid nopadding">
        <h2 class="font-accident-two-normal2 color05 uppercase" >동대 멋사 대나무숲</h2>
        <h4 class="font-accident-two-bold2 color05 uppercase subtitle">동대 멋사 운영진이 열일중입니다.</h4>
      </div>
    </section>

    <!-- Blog Block -->
    <section class="inner-section " data-section="blog">
      <div class="row masonry-row">
        <div class="container-fluid text-center">
          <div id="posts" class="row popup-container">
            <% @events.each do |event| %>
              <div class=" col-md-4 col-sm-6">
                <div class="item-wrap curri">
                  <!-- <div class="check red">hot!</div> -->
                  <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="300" data-animation-distance="0px">
                    <figcaption class="text-center">
                      <div class="post-header">
                        <h5>
                          <a href="#"><%= event.title %></a>
                        </h5>
                      </div>
                      <div class="post-entry">
                        <p><%= event.content.html_safe %></p>
                      </div>
                      <!-- <div class="post-meta">
                        <span>by
                          <a href="#!">교육팀</a>,</span>
                        <span><%#= event.created_at %></span></div> -->
                      <!-- <div class="dividewhite2"></div> -->
                      <div class="btn-group" role="group">
                        <a href="<%= event_path(event)%>" class="btn btn-info pull-left">한 마디!</a>                      </div>
                      <div class="dividewhite1"></div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            <% end %>

          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- /Blog Block -->
</div>
<%= render "shared/footer" %>
