<%= render "shared/header" %>
<div class="content-wrap">

  <div id="blogpost" class="inner-content">

    <section id="page-title" class="inner-section">
      <div class="container-fluid nopadding">
        <div class="row">
          <div class="col-md-6">
            <h2 class="font-accident-two-normal2 uppercase"><%= @event.title %></h2>
          </div>
          <% if false %>
          <div class="col-md-6 ">
            <a class="btn btn-danger pull-right" href="<%=submissions_assignment_path(@assignment)%>">훔쳐보기</a>
          </div>
          <% end %>
        </div>
        <div class="post-meta">
          <span>by
            <a href="#!">교육팀</a>,</span>
          <span><%= @event.created_at %></span></div>
    </section>

    <!-- Blog Block -->
    <section class="inner-section">

      <div class="container-fluid nopadding">
        <article class="post">
            <%= @event.content.html_safe %>
          <div class="dividewhite4"></div>
          <hr>

        </article>
        <div id="comments">
          <div class="container-fluid nopadding">
            <% if user_signed_in? %>
                <%= form_for(@ecomment, url: ecomment_event_path) do |f| %>
                  <div class="row">
                    <div class="col-md-12">
                      <p>
                        <label>내용</label>
                        <%= f.text_area :body, placeholder: "여러분의 생각을 적어주세요." %>
                      </p>
                    </div>


                  </div>
                  <div class="dividewhite2"></div>
                  <div class="row">
                    <div class="col-md-2 col-xs-6">
                      <div class="row">
                        <div class="col-md-2 col-xs-4">
                          <%= f.check_box :secret ,class: "pull-right" %>
                        </div>
                        <div class="col-md-10 col-xs-8">
                          <label for="ecomment_secret">비밀글</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-10 col-xs-6">
                      <%= f.submit "제출", class: "btn btn-darker" %>
                    </div>
                  </div>
                  <p></p>
                <% end %>
            <% else %>
              <div class="row">
                <div class="col-md-12 col-xs-6">
                  <a href="<%= new_user_session_path%>" class="btn btn-lg btn-default pull-right">로그인 하세요</a>
                </div>
              </div>
            <% end %>
            <!-- <a href="" class="btn btn-lg btn-default pull-left">뒤로 가기</a>
            <a href="" class="btn btn-lg btn-default pull-right">과제 제출</a> -->
          </div>
          <div class="dividewhite2"></div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <h4 class="font-accident-one-light uppercase"><%= @event.ecomments.public_comments.count%> 개의 공개글
                <% if user_signed_in? && current_user.has_role?(:admin) %>
                  (비밀글 : <%= @event.ecomments.secret_comments.count %>)
                <% end %>
              </h4>
            </div>
            <div class="col-md-6 pull-right">
              <% if user_signed_in? && current_user.has_role?(:admin) %>
                <%= link_to '비밀 댓글 확인', admin_event_path(@event), class: "btn btn-info pull-right",target: "_blank" %>
              <% end %>
            </div>
          </div>


          <!--<div class="dividewhite4"></div>-->
          <ul class="media-list">
          <% @event.ecomments.public_comments.each_with_index do |c,i| %>
          <% unless i == @event.ecomments.count %>
            <li class="media">
               <div class="media-left">
                  <a href="#">
                    <img src="<%= asset_path 'dgulion.png' %>" class="media-object" alt="img11" />
                  </a>
               </div>
               <div class="media-body">
                  <div class="post-data">
                     <div class="post-date"><%=  time_ago_in_words c.updated_at %></div>
                     <div class="post-author"><a href="#"><%= Faker::Name.name %></a></div>
                  </div>
                  <p><%= c.body %></p>
               </div>
            </li>
          <% end %>
          <% end %>
         </ul>

        </div>
      </div>

    </section>
    <!-- /Blog Block -->

  </div>

</div>
<%= render 'shared/footer' %>
